<body style="background-color: #c7ecee;" class="pt-7 bg-image">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Appointment Detail</h3></div>
                        <div class="card-body">
                            <div class="modal-body">
                                <div class="table-container">
                                    <table class="table">
                                        <tr>
                                            <td>Appointment Id:</td>
                                            <td>{{ appointement!.id }}</td>
                                        </tr>
                                        <tr>
                                            <td>Appointment Date:</td>
                                            <td>{{ appointement!.appointmentDate }}</td>
                                        </tr>
                                        <tr>
                                            <td>Appointment Start Time:</td>
                                            <td>{{ appointement!.appointmentStartTime }}</td>
                                        </tr>
                                        <tr>
                                            <td>Appointment End Time:</td>
                                            <td>{{ appointement!.appointmentEndTime}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <button class="ok-button" [routerLink]="['/user/DetailAppointementComponent']">ok </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </body>
  