<div class="container my-5" style="background-color: #d9ead3;">
  <form [formGroup]="claimForm" (ngSubmit)="AddClaim()">
    <div class="form-group">
      <label for="description" style="color: #5a8741;">Description</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4" maxlength="220" oninput="updateCharCount()" placeholder="Enter a brief description of your claim" style="background-color: #c8e6c9;"></textarea>
      
      <small class="form-text" [ngClass]="{'text-danger': claimForm.controls['description'].value?.length > 220}" >
        <span id="charCount" style="color: #a1a844;"></span>
        {{ claimForm.controls['description'].value ? 220 - claimForm.controls['description'].value.length : 220 }} characters remaining
      </small> 
      <small class="form-text" [ngClass]="{'text-danger': claimForm.controls['description'].value?.length > 220 || claimForm.controls['description'].untouched}" >
        {{ claimForm.controls['description'].untouched ? 'Please enter a description' : '' }}
      </small> 
    </div>
    <div class="form-group">
      <label for="subject" style="color: #5a8741;">Subject</label>
      <div></div>
      <input formControlName="subject" type="text" id="subject" name="subject" style="background-color: #c8e6c9;">
      
      <small class="form-text" [ngClass]="{'text-danger': claimForm.controls['subject'].value?.length === 0 || claimForm.controls['subject'].untouched}" >
        {{ claimForm.controls['subject'].untouched ? 'Please enter a subject' : '' }}
      </small> 
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="date" style="color: #5a8741;">Date</label>
        <input type="date" formControlName="date" id="date" class="form-control" placeholder="Select a date" style="background-color: #c8e6c9;">
        <small class="form-text" [ngClass]="{'text-danger': claimForm.controls['date'].value === null || claimForm.controls['date'].untouched}" >
          {{ claimForm.controls['date'].untouched ? 'Please select a date' : '' }}
        </small>
         <div></div>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit" style="background-color: #5a8741; border-color: #5a8741;" [disabled]="!claimForm.valid">Add Claim</button>

    
  
    </form>
</div>


<script>
  function updateCharCount() {
    var charCount = document.getElementById("charCount");
    var maxLength = document.getElementById("description").maxLength;
    var currentLength = document.getElementById("description").value.length;
    var remaining = maxLength - currentLength;
    charCount.innerText = remaining;
  }
</script>
