<div class="background-image" style="background: url('/assets/front/img/image.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<div class="container-fluid bg-gradient-primary py-5">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="text-white">Pay your Appointement </h2>
      </div>
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <h5 class="card-title mb-4">Select Payment Amount</h5>
            <button (click)="makePayment(15)" class="btn btn-lg btn-danger btn-block">Pay $15</button>
            <button (click)="makePayment(25)" class="btn btn-lg btn-primary btn-block my-4">Pay $25</button>
            <button (click)="makePayment(35)" class="btn btn-lg btn-success btn-block">Pay $35</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>