/*.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  button {
    display: block;
    margin: 20px auto;
    transform: translateY(-20px);
    opacity: 0;
  }
  
  button.show {
    transform: none;
    opacity: 1;
    animation: buttonAnimation 0.5s ease-out;
  }
  
  @keyframes buttonAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }*/
  .payment-container {
   
    background-image: url('/src/assets/front/C:\Users\Nesrine\Desktop\test\welcamp - Copy\welcamp - Copy\src\assets\front\img\image.jpg/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .payment-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    margin: 10px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn-danger {
    background-color: #d9534f;
  }
  
  .btn-primary {
    background-color: #428bca;
  }
  
  .btn-success {
    background-color: #5cb85c;
  }
  