 <!-- Google Fonts -->
 <link href="https://fonts.gstatic.com" rel="preconnect">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="/assets/back/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/assets/back/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="/assets/back/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <link href="/assets/back/vendor/quill/quill.snow.css" rel="stylesheet">
 <link href="/assets/back/vendor/quill/quill.bubble.css" rel="stylesheet">
 <link href="/assets/back/vendor/remixicon/remixicon.css" rel="stylesheet">
 <link href="/assets/back/vendor/simple-datatables/style.css" rel="stylesheet">

 <!-- Template Main CSS File -->
 <link href="/assets/back/css/style.css" rel="stylesheet">

 <app-header-admin ></app-header-admin>
 <app-side-admin classe="row-3"></app-side-admin>
 <router-outlet >
  <div class="row" style="margin-top: 70px;margin-left: 290px;">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="card" class="text-center">
                    <table class="table">
                        <thead style="background-color: rgb(192, 183, 183);">
                            <th>Name</th>
                            <th>Description</th>
                            <th>Favoris</th>
                            <th>Report</th>
                            <th>Date</th>

                        </thead>
                        <tbody>
                            <tr *ngFor='let p of listPublications'>
                                <td >
                                  <a [routerLink]="['/comadmin', p.id]" > {{p.subject}}</a></td>
                                <td><a [routerLink]="['/comadmin', p.id]" >{{p.description}}</a></td>

                                <td>{{p.favoris}}</td>
                                <td>{{p.report}}</td>
                                <td>{{p.date}}</td>

                                <td><button type="button" class="btn btn-outline-primary"
                                        (click)="open(mymodal)">edit</button>
                                    <ng-template #mymodal let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                            <button type="button" class="close" onclick="location.reload();" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true" (click)="cancel()">×</span>

                                            </button>

                                        </div>
                                        <div>
                                     <form>
                                            <div class="modal-body">

                                                <div class="row" class="col-md-5">
                                                    <label>subject</label>
                                                    <input type="text" [(ngModel)]="p.subject" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                  <label>Description</label>
                                                  <input type="text" [(ngModel)]="p.description" [ngModelOptions]="{standalone : true}" />
                                              </div>

                                                <div class="row" class="col-md-5">
                                                    <label>Favoris</label>
                                                    <input type="number" [(ngModel)]="p.favoris" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                    <label>Report</label>
                                                    <input type="number" [(ngModel)]="p.report" [ngModelOptions]="{standalone : true}" />
                                                </div>
                                                <div class="row" class="col-md-5">
                                                  <label>Date</label>
                                                  <input type="date" [(ngModel)]="p.date" [ngModelOptions]="{standalone : true}" />
                                              </div>
                                            </div>

                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-info"
                                                    (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                                                <button class="btn btn-success"(click)="editPublication(p)" (click)="modal.close('Save click')">Validate</button>
                                            </div>
                                        </form>
                                    </div>
                                    </ng-template>
                                    <button type="button" class="btn btn-outline-danger"
                                    onclick="location.reload();" (click)="deletePublication(p.id)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button   class="badge rounded-pill bg-success" style="padding: 0.7rem 1rem; font-size: 0.9rem;" (click)="open(mymodal1)">Add new Publication</button>
                    <br><br>
                    <ng-template #mymodal1 let-modal1>
                        <div class="modal-header">
                          <h4>Add new Publication</h4>
                            <button type="button" onclick="location.reload();"  class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                                <span aria-hidden="true" (click)="cancel()"></span>
                            </button>

                        </div>
                        <div class="center">
                      <form>
                            <div class="row" class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Publication title" [(ngModel)]="publication.subject"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                           <div class="row" class="input-group mb-3">
                               <!--begin-->
                               <ejs-richtexteditor [enableHtmlSanitizer]="true" [toolbarSettings]="tools" placeholder="Contenu" ><ng-template #valueTempalte ><p>Wooow</p></ng-template>
                               </ejs-richtexteditor>

                            </div>
  <!--end-->
                            <br>
                            <div class="d-flex justify-content-center">

                            <button type="button" class="badge rounded-pill bg-success" style="padding: 0.7rem 1rem; font-size: 1.1rem;"
                           (click)="addPublication(publication)" onclick="location.reload();" (click)="modal1.close('Save click')">Add</button>
                            <button type="button" class="badge rounded-pill bg-secondary" style="padding: 0.7rem 1rem; font-size: 1.1rem;" (click)="modal1.close('Save click')" >Cancel</button>
                            </div>
                            <br>
                        </form>
                    </div>
                    </ng-template>
                </div>

            </div>
        </div>
    </div>
    </div>
 </router-outlet>
 <app-footer-admin></app-footer-admin>

 <!-- Vendor JS Files -->
 <script src="/assets/back/vendor/apexcharts/apexcharts.min.js"></script>
 <script src="/assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/assets/back/vendor/chart.js/chart.umd.js"></script>
 <script src="/assets/back/vendor/echarts/echarts.min.js"></script>
 <script src="/assets/back/vendor/quill/quill.min.js"></script>
 <script src="/assets/back/vendor/simple-datatables/simple-datatables.js"></script>
 <script src="/assets/back/vendor/tinymce/tinymce.min.js"></script>
 <script src="/assets/back/vendor/php-email-form/validate.js"></script>

 <!-- Template Main JS File -->
 <script src="/assets/back/js/main.js"></script>
