<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4
            class="card-title"
            style="margin-left: 40%; font-size: xx-large; color: coral" >
            Sponsoring List
          </h4>
        </div>

        <button type="button" routerLink="/user/add/sponsorings" class="btn btn-outline-success">Add Sponsoring</button>
        <div class="card-body">
          <input type="text" [(ngModel)]="type" (ngModelChange)="Search()" placeholder="Enter Location to search" class="form-control">
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>type</th>
                <th>description</th>
                <th>priceS</th>
                <th>quantite</th>

                <th>Delete</th>
              </thead>
              <tbody>
                <tr *ngFor="let list of listSponsoring">
                  <td>
                    {{ list.type }}
                  </td>
                  <td>
                    {{ list.description }}
                  </td>
                  <td>
                    {{ list.priceS }}
                  </td>
                  <td>
                    {{ list.quantite }}
                  </td>

                  <td>
                    <button
                      type="button"
                      (click)="onDelete(list)"
                      class="btn btn-outline-danger"
                    >
                      Delete
                    </button>
                    <button (click)="open(mymodal)" type="button" class="btn btn-outline-danger">EDIT</button>
                    <ng-template #mymodal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Sponsoringt</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true" (click)="cancel()">×</span>

                            </button>

                        </div>
                        <div>
                            <form>
                                <div class="modal-body">

                                    <div class="row" class="col-md-5">
                                        <label>Type</label>
                                        <input type="text" [(ngModel)]="list.type"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>
                                    <div class="row" class="col-md-5">
                                        <label>Description</label>
                                        <input type="text" [(ngModel)]="list.description"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>
                                    <div class="row" class="col-md-5">
                                        <label>Price</label>
                                        <input type="number" [(ngModel)]="list.priceS"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>
                                    <div class="row" class="col-md-5">
                                      <label>Quantity</label>
                                      <input type="number" [(ngModel)]="list.quantite"
                                          [ngModelOptions]="{standalone : true}" />
                                  </div>

                                </div>

                                <div class="modal-footer">

                                    <button type="button" class="btn btn-info"
                                        (click)="modal.close('Save click')"
                                        (click)="cancel()">Cancel</button>
                                    <button class="btn btn-success" (click)="editSponsoring(list)"
                                        (click)="modal.close('Save click')">Validate</button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
