<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4
            class="card-title"
            style="margin-left: 40%; font-size: xx-large; color: coral" >
            Sponsoring List
          </h4>
        </div>

        <button type="button" routerLink="/admin/add/sponsoring" class="btn btn-outline-success">Add Sponsoring</button>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>type</th>
                <th>description</th>
                <th>priceS</th>
                <th>quantite</th>

                <th>Delete</th>
              </thead>
              <tbody>
                <tr *ngFor="let list of listSponsoring">
                  <td>
                    {{ list.type }}
                  </td>
                  <td>
                    {{ list.description }}
                  </td>
                  <td>
                    {{ list.priceS }}
                  </td>
                  <td>
                    {{ list.quantite }}
                  </td>

                  <td>
                    <button
                      type="button"
                      (click)="onDelete(list)"
                      class="btn btn-outline-danger"
                    >
                      Delete
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
