<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="notification$ | async as notification" class="alert alert-info">{{ notification }}</div>
      <table class="table table-striped table-hover">
        <thead class="thead-dark" style="background-color: #8FDF8F; color: white;">
          <tr>
            <th>ID</th>
            <th>Quantity</th>
            <th>Quantity Min</th>
            <th>Libelle Stock</th>
            <th>Cheked</th>
            <th>Create Date</th>
            <th>Update Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let stock of stock">
          <tr>
            <td style="color: rgb(16, 17, 16);">{{ stock.idStock }}</td>

            <td style="color: rgb(18, 19, 18);">{{ stock.quantity}}</td>
            <td style="color: rgb(18, 19, 18);">{{ stock.quantityMin }}</td>
            <td style="color: rgb(29, 31, 29);">{{ stock.libelleStock }}</td>
            <td style="color: rgb(23, 24, 23);">{{ stock.cheked }}</td>
            <td style="color: rgb(23, 24, 23);">{{ stock.createdAt | date:'mediumDate' }}</td>
            <td style="color: rgb(23, 24, 23);">{{ stock.updatedAt | date:'mediumDate' }}</td>
            <td>
              <button class="btn btn-danger" style="background-color: #87CEFA; border-color: rgb(7, 107, 201);" (click)="deletestock(stock.idStock)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-danger" style="background-color: #8FDF8F; border-color: #8FDF8F;" routerLink="/admin/addstock">Add</button>
      </div>
    </div>
  </div>
</div>
