<div class="content"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="margin-left: 40%; font-size: xx-large; color: coral">Annonce List</h4>
      </div>
      <button type="button" routerLink="/user/addF/annonce" class="btn btn-outline-success">Add Annonce</button>
      <div class="card-body">
        <input type="text" [(ngModel)]="location" (ngModelChange)="Search()" placeholder="Enter Location to search" class="form-control">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>location</th>
              <th>Description</th>
              <th>PriceA</th>
              <th>Picture</th>
              <th>USID</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let list of listAnnonce | filterBy: searchText | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                <td>{{ list.location }}</td>
                <td>{{ list.description }}</td>
                <td>{{ list.priceA }}</td>
                <td><img src="./assets/front/img/maison.jpg"></td>
                <td>{{ list.usId }}</td>
                <td>
                  <button type="button" (click)="Delete(list.id)" class="btn btn-outline-danger">Delete</button>
                  <button (click)="open(mymodal)" type="button" class="btn btn-outline-danger">EDIT</button>
                    <ng-template #mymodal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Announcement</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true" (click)="cancel()">×</span>

                            </button>

                        </div>
                        <div>
                            <form>
                                <div class="modal-body">

                                    <div class="row" class="col-md-5">
                                        <label>Description</label>
                                        <input type="text" [(ngModel)]="list.description"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>
                                    <div class="row" class="col-md-5">
                                        <label>Price</label>
                                        <input type="number" [(ngModel)]="list.priceA"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>
                                    <div class="row" class="col-md-5">
                                        <label>Location</label>
                                        <input type="text" [(ngModel)]="list.location"
                                            [ngModelOptions]="{standalone : true}" />
                                    </div>


                                </div>

                                <div class="modal-footer">

                                    <button type="button" class="btn btn-info"
                                        (click)="modal.close('Save click')"
                                        (click)="cancel()">Cancel</button>
                                    <button class="btn btn-success" (click)="editAnnonce(list)"
                                        (click)="modal.close('Save click')">Validate</button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <pagination-controls (pageChange)="currentPage = $event" class="center"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
