.animate__animated {
  animation-duration: 1s !important;
  animation-fill-mode: both !important;
}

.animate__fadeInUp {
  animation-duration: 1s !important;
  animation-delay: 0.5s !important;
  animation-fill-mode: both !important;
}

.animate__pulse {
  animation-duration: 1s !important;
  animation-iteration-count: infinite !important;
  animation-fill-mode: both !important;
}

.animate__infinite {
  animation-duration: 1s !important;
  animation-iteration-count: infinite !important;
  animation-fill-mode: both !important;
}
