<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Add Product</h5>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="ajouter()">
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>location</label>
                  <input
                    type="text"
                    class="form-control"
                    name="location"
                    #location="ngModel"
                    [(ngModel)]="annonce.location"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea
                    class="form-control textarea"
                    #description="ngModel"
                    [(ngModel)]="annonce.description"
                  ></textarea>
                  <div
                    class="alert alert-danger"
                    *ngIf="description.invalid && description.touched"
                  >
                    <div *ngIf="description.errors?.['required']">
                      descriptionis required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>prix</label>
                    <input
                      type="number"
                      class="form-control"
                      #priceA="ngModel"
                      [(ngModel)]="annonce.priceA"
                      id="priceA"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>UsID</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Quantity"
                    name="usId"
                    #usId="ngModel"
                    [(ngModel)]="annonce.usId"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <!--div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Category</label>
                  <select
                    class="form-control"
                    placeholder="Category"
                    formControlName="category"
                    id="category"
                    (ngModelChange)="setNewCategory($event)"
                  >
                    <option *ngFor="let opt of categories" [ngValue]="opt">
                      {{ opt. }}
                    </option>
                  </select>
                </div>
              </div!-->
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">
                  Add annonce
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
